<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mOrder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/adminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListServlet</display-name>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/adminList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddServlet</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/adminAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/adminDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMutilDeleteServlet</display-name>
    <servlet-name>AdminMutilDeleteServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminMutilDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMutilDeleteServlet</servlet-name>
    <url-pattern>/adminMultiDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPreparedUpdateServlet</display-name>
    <servlet-name>AdminPreparedUpdateServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminPreparedUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPreparedUpdateServlet</servlet-name>
    <url-pattern>/adminPreparedUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateServlet</display-name>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>com.lihaogn.web.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/adminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryListServlet</display-name>
    <servlet-name>FoodCategoryListServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryListServlet</servlet-name>
    <url-pattern>/foodCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryAddServlet</display-name>
    <servlet-name>FoodCategoryAddServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryAddServlet</servlet-name>
    <url-pattern>/foodCategoryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryDeleteServlet</display-name>
    <servlet-name>FoodCategoryDeleteServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryDeleteServlet</servlet-name>
    <url-pattern>/foodCategoryDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryMultiDeleteServlet</display-name>
    <servlet-name>FoodCategoryMultiDeleteServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryMultiDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryMultiDeleteServlet</servlet-name>
    <url-pattern>/foodCategoryMultiDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryPreparedUpdateServlet</display-name>
    <servlet-name>FoodCategoryPreparedUpdateServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryPreparedUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryPreparedUpdateServlet</servlet-name>
    <url-pattern>/foodCategoryPreparedUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCategoryUpdateServlet</display-name>
    <servlet-name>FoodCategoryUpdateServlet</servlet-name>
    <servlet-class>com.lihaogn.web.FoodCategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCategoryUpdateServlet</servlet-name>
    <url-pattern>/foodCategoryUpdate</url-pattern>
  </servlet-mapping>
</web-app>